<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innter</title>
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.rawshorts.com/freeicons/wp-content/uploads/2017/01/orange_travelpictdinner_1484336833.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <style>
      body{
        overflow-x: hidden;
      }
      .row{
        display: flex;
        text-align: center;
      }
      .row .left{
        padding: 10rem;
      }
      .row .left .content{
        text-align: left;
      }
      .row .right img{
        object-fit: fill;
      }
      .column {
        flex: 50%;
      }
      .row .right {
        height: 100vh;
        background-image: url("https://images.unsplash.com/photo-1600891964599-f61ba0e24092?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: cover;
        background-repeat: no-repeat;
      }
      @media screen and (max-width: 600px) {
        .row .left{
        padding: 2rem;
      }
        .row .left .content{
        text-align: center;
      }
        .column {
          width: 100%;
        }
      }
    </style>
</head>
<body>
  <div class="row">
    <div class="column left">
      <div class="content">
        <h5>Innter</h5>
        <br>
        <h1>Explore the best restaurants in Guwahati</h1>
        <p>Innter is a curated list of the best restaurants in Guwahati. Get access to unfiltered and unbiased reviews.</p>
        <ul style="list-style-type: circle;">
          <li>Add your own restaurant suggestions</li>
          <li>Leave reviews and experiences</li>
          <li>See locations for all restaurants</li>
        </ul>
        <a href="/campgrounds"><button class="btn btn-dark"> View Restaurants &#x2192;</button></a>
      </div>
    </div>
    <div class="column right">
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>